.price{
  font-size: 28px;
  background: #FFF;
  // box-shadow: 0px 20px 50px 0px rgba(100,101,102,0.12);
  border: 1px solid rgba(220,220,220,.3);
  border-radius: 40px;
  overflow: hidden;
  .marketPrice{
    box-sizing: border-box;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #a6a6a6;
  }
  /deep/ .van-stepper{
    font-size: 20px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /deep/ .van-stepper__input{
    font-size: 30px;
    background: #FFF;
    width: calc(100% - 180px);
    height: 65px;
  }
  /deep/ .van-stepper__minus, /deep/.van-stepper__plus{
    color: #07c160;
    background: #FFF;
    height: 65px;
    width: 65px;
    border-right: 2px solid #eee;
  }
  /deep/.van-stepper__plus{
    color: #ee0a24;
    border-left: 2px solid #eee;
    border-right: 0px ;
  }
} 
.num{
  margin: 24px 0 14px;
  border: 1px solid rgba(220,220,220,.3);
  border-radius: 40px;
  overflow: hidden;
  // box-shadow: 0px 20px 50px 0px rgba(100,101,102,0.12);
  .numIpt{
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 30px;
    /deep/ .van-field__control{
      font-size: 28px;
    }
  }
  /deep/ .van-hairline--top-bottom::after{
    border: 0 !important;
  }
}
.aboutNum{
  text-align: right;
  margin-top: 24px;
}
.slider{
  position: relative;
  padding: 20px 10px;
  .sliderVulue{
    position: relative;
    z-index: 10;
    background: #ee0a24;
    z-index: 10;
    color: #FFF;
    font-size: 21px;
    padding: 6px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  /deep/ .van-slider__button{
    width: 40px;
    height: 40px;
    background: url('https://cdn.jsdelivr.net/gh/defis-net/material/icon/slider-buy.png') no-repeat;
    background-size: cover;
  }
  &.sellSlider{
    /deep/ .van-slider__button{
      width: 40px;
      height: 40px;
      background: url('https://cdn.jsdelivr.net/gh/defis-net/material/icon/slider.png') no-repeat;
      background-size: cover;
    }
  }
}
.bal{
  margin: 14px 0;
}
.percent{
  margin-top: 10px;
  .toCenter{
    transform: translate(45%, 0);
  }
}
.btnDiv{
  margin-top: 20px;
  .btn{
    height: 72px;
    width: 100%;
    border-radius: 50px;
  }
}

.van-button--primary{
  background: #29D4B0;
  border: 1px solid #29D4B0;
}
.van-button--danger{
  background: #FE3B37;
  border: 1px solid #FE3B37;
}