.deposit,
.withdraw{
  position: relative;
  color: #333;
  padding: 28px;
  font-size: 28px;
  .close{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 26px;
  }
  .title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
}
.content{
  padding: 22px 26px;
  border: 1px solid rgba(220, 220, 220, .3);
  border-radius: 12px;
  margin: 44px 0;
  .bal{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .coinInfo{
    // margin: 15px 0;
    .coinImg{
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-right: 15px;
    }
    .contract{
      font-size: 22px;
    }
  }
  .iptDiv{
    flex: 1;
    .ipt{
      font-size: 52px;
      // width: 230px;
      padding: 0px 10px;
      &::after{
        border: 0px;
      }
      /deep/ .van-field__control{
        text-align: right;
      }
    }
    .max{
      width: 84px;
      color: #29D4B0;
      padding: 8px 10px;
      border-radius: 5px;
      background: rgba(#29D4B0, 0.2);
    }
  }
  .lockTime{
    margin-top: 20px;
    font-size: 24px;
    .red{
      color: #FF2800;
    }
  }
}
.btn{
  height: 96px;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  background: #29D4B0;
  border-radius: 50px;
  &.disabled{
    color: #999;
    background: #f5f5f5;
  }
}