.steady{
  margin: 32px 36px;
  font-size: 28px;
  color: #333;
  .title{
    .name{
      margin-right: 20px;
      font-size: 40px;
      font-weight: 500;
    }
    .tip{
      font-weight: normal;
    }
  }
  .lists{
    margin: 32px 0;
    background: #FFF;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    .list{
      position: relative;
      padding: 24px 30px;
    }
  }
}
.coin{
  .coinImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .coinName{
    font-weight: 500;
    font-size: 28px;
    color: #000;
  }
  .contract{
    font-size: 22px;
  }
  .btn{
    font-size: 24px;
    background: #29D4B0;
    border-radius: 30px;
    height: 60px;
    padding: 0 36px;
    color: #fff;
  }
}
.info{
  margin-top: 26px;
  .percent{
    flex: 2;
    .apy{
      line-height: 44px;
      font-size: 44px;
      color: #E62C3B;
      margin-bottom: 8px;
    }
  }
  .dataInfo{
    flex: 3;
    .time{
      line-height: 44px;
      font-size: 32px;
      margin-bottom: 8px;
    }
  }
  .tip{
    font-size: 24px;
  }
}